node_modules/

dist/
*.tsbuildinfo

.mix-tmp/
.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.*
!.env.example

.DS_Store
.idea/
.vscode/

.npmrc

*.tgz
*.sarif
